/*
COLORS:
Lime green:#00B21C
Dark green:#006610
Light greeen:#3ADD59
Maroon:#660016
Rosy red:#B20027
*/


body {
    background-color:none;
    color:#3ADD59;
}

#header {
    width:100%;
    background-color:none;
    min-height: 80px;
}

#header > h1 {
    margin: 0;
    text-align: center
}
#nav {

    width:100%;
    background-color:aqua;
}
#nav > ul {
           text-align: center;
    padding: 0%;
    margin: 0%;
    transform: translateY(50%);
        
}
#nav > ul > button {
        min-width: 120px;
    color: azure;
    background-color: #00B21C;
    border: none;
    padding: 15px 32px;
    transition: background-color .25s;
    
}
#nav > ul > button:hover {
       background-color:#006610;
}
.menu {
    display:flex;
    background:aliceblue;
    justify-content:space-around;
    list-style-type:none;
    margin: 0;
}

#middle-wrapper-width {
    
}
#middle-wrapper {
    
}

#main-content-wrapper {
    background-color:greenyellow;
    width:80%;
}

#aside-content-wrapper {
    background-color:plum;
    width:20%; 
}

footer {
    background-color: coral;
    margin: 0;
}

footer > h1 {
    margin: 0
}